In [245]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# %matplotlib inline
# warnings.filterwarnings("ignore")
# InteractiveShell.ast_node_interactivity = "all"
# pd.options.display.float_format = '{:.2f}'.format

In [246]:
df220430=pd.read_csv('C:/Users/mehmet/Documents/1_IST_DATA_SCI_ACA/1_proje/data/turnstile_220430.csv')
df220507=pd.read_csv('C:/Users/mehmet/Documents/1_IST_DATA_SCI_ACA/1_proje/data/turnstile_220507.csv')
df220514=pd.read_csv('C:/Users/mehmet/Documents/1_IST_DATA_SCI_ACA/1_proje/data/turnstile_220514.csv')
df220521=pd.read_csv('C:/Users/mehmet/Documents/1_IST_DATA_SCI_ACA/1_proje/data/turnstile_220521.csv')
df220528=pd.read_csv('C:/Users/mehmet/Documents/1_IST_DATA_SCI_ACA/1_proje/data/turnstile_220528.csv')
df220604=pd.read_csv('C:/Users/mehmet/Documents/1_IST_DATA_SCI_ACA/1_proje/data/turnstile_220604.csv')
df = pd.concat([df220430,df220507,df220514,df220521,df220528,df220604])
df.to_csv('C:/Users/mehmet/Documents/1_IST_DATA_SCI_ACA/1_proje/data/df_all.csv',index=False)

In [247]:
df.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2022,00:00:00,REGULAR,7703737,2695797
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2022,04:00:00,REGULAR,7703739,2695803
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2022,08:00:00,REGULAR,7703749,2695831
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2022,12:00:00,REGULAR,7703774,2695912
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2022,16:00:00,REGULAR,7703824,2695965
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2022,20:00:00,REGULAR,7703881,2696011
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/24/2022,00:00:00,REGULAR,7703908,2696031
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/24/2022,04:00:00,REGULAR,7703911,2696036
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/24/2022,08:00:00,REGULAR,7703919,2696048
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/24/2022,12:00:00,REGULAR,7703933,2696105

In [248]:
df.shape

(1267246, 11)

In [249]:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [250]:
df.rename(columns={df.columns[10]:'EXITS'},inplace=True) # df.rename(index={1: 'new_index'})

In [252]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1267246 entries, 0 to 211608
Data columns (total 11 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   C/A       1267246 non-null  object
 1   UNIT      1267246 non-null  object
 2   SCP       1267246 non-null  object
 3   STATION   1267246 non-null  object
 4   LINENAME  1267246 non-null  object
 5   DIVISION  1267246 non-null  object
 6   DATE      1267246 non-null  object
 7   TIME      1267246 non-null  object
 8   DESC      1267246 non-null  object
 9   ENTRIES   1267246 non-null  int64
 10  EXITS     1267246 non-null  int64
dtypes: int64(2), object(9)
memory usage: 116.0+ MB

In [253]:
df.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2022,00:00:00,REGULAR,7703737,2695797
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2022,04:00:00,REGULAR,7703739,2695803
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2022,08:00:00,REGULAR,7703749,2695831
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2022,12:00:00,REGULAR,7703774,2695912
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2022,16:00:00,REGULAR,7703824,2695965
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2022,20:00:00,REGULAR,7703881,2696011
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/24/2022,00:00:00,REGULAR,7703908,2696031
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/24/2022,04:00:00,REGULAR,7703911,2696036
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/24/2022,08:00:00,REGULAR,7703919,2696048
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/24/2022,12:00:00,REGULAR,7703933,2696105

In [254]:
df.duplicated().sum()

0

In [255]:
df.nunique()

C/A            753
UNIT           470
SCP            224
STATION        379
LINENAME       114
DIVISION         6
DATE            42
TIME         37593
DESC             2
ENTRIES     949150
EXITS       921105
dtype: int64

In [256]:
df['TURNSTILE']=df['C/A']+' '+df['UNIT']+' '+df['SCP']
df['DATETIME']=df['DATE']+' ' +df['TIME']

In [258]:
df.drop(columns='C/A',axis=1,inplace=True)
df.drop(columns='UNIT',axis=1,inplace=True)
df.drop(columns='SCP',axis=1,inplace=True)
df.drop(columns='DATE',axis=1,inplace=True)
df.drop(columns='TIME',axis=1,inplace=True)

In [259]:
df.head()

,STATION,LINENAME,DIVISION,DESC,ENTRIES,EXITS,TURNSTILE,DATETIME
0,59 ST,NQR456W,BMT,REGULAR,7703737,2695797,A002 R051 02-00-00,04/23/2022 00:00:00
1,59 ST,NQR456W,BMT,REGULAR,7703739,2695803,A002 R051 02-00-00,04/23/2022 04:00:00
2,59 ST,NQR456W,BMT,REGULAR,7703749,2695831,A002 R051 02-00-00,04/23/2022 08:00:00
3,59 ST,NQR456W,BMT,REGULAR,7703774,2695912,A002 R051 02-00-00,04/23/2022 12:00:00
4,59 ST,NQR456W,BMT,REGULAR,7703824,2695965,A002 R051 02-00-00,04/23/2022 16:00:00

In [260]:
df.DESC.value_counts()

REGULAR       1262200
RECOVR AUD       5046
Name: DESC, dtype: int64

In [261]:
df=df[df['DESC']=='REGULAR'] # "RECOVR AUD" attributes has dropped.

In [263]:
df.sort_values(by=["TURNSTILE",'DATETIME'],inplace=True)

In [269]:
df.drop(columns=['level_0','index'],inplace=True)

In [270]:
df.head()

,STATION,LINENAME,DIVISION,DESC,ENTRIES,EXITS,TURNSTILE,DATETIME
0,59 ST,NQR456W,BMT,REGULAR,7703737,2695797,A002 R051 02-00-00,04/23/2022 00:00:00
1,59 ST,NQR456W,BMT,REGULAR,7703739,2695803,A002 R051 02-00-00,04/23/2022 04:00:00
2,59 ST,NQR456W,BMT,REGULAR,7703749,2695831,A002 R051 02-00-00,04/23/2022 08:00:00
3,59 ST,NQR456W,BMT,REGULAR,7703774,2695912,A002 R051 02-00-00,04/23/2022 12:00:00
4,59 ST,NQR456W,BMT,REGULAR,7703824,2695965,A002 R051 02-00-00,04/23/2022 16:00:00

In [271]:
df['DIFF.ENTRIES']=df['ENTRIES'].diff()
df['DIFF.EXITS']=df['EXITS'].diff()

In [272]:
df.head()

,STATION,LINENAME,DIVISION,DESC,ENTRIES,EXITS,TURNSTILE,DATETIME,DIFF.ENTRIES,DIFF.EXITS
0,59 ST,NQR456W,BMT,REGULAR,7703737,2695797,A002 R051 02-00-00,04/23/2022 00:00:00,NaN,NaN
1,59 ST,NQR456W,BMT,REGULAR,7703739,2695803,A002 R051 02-00-00,04/23/2022 04:00:00,2.0,6.0
2,59 ST,NQR456W,BMT,REGULAR,7703749,2695831,A002 R051 02-00-00,04/23/2022 08:00:00,10.0,28.0
3,59 ST,NQR456W,BMT,REGULAR,7703774,2695912,A002 R051 02-00-00,04/23/2022 12:00:00,25.0,81.0
4,59 ST,NQR456W,BMT,REGULAR,7703824,2695965,A002 R051 02-00-00,04/23/2022 16:00:00,50.0,53.0

In [273]:
df.drop(index=0, inplace=True) # The row has "NaN" has been dropped.

In [275]:
df["TRAFFIC"]=df['DIFF.ENTRIES']+df['DIFF.EXITS']

In [276]:
df.head()

,STATION,LINENAME,DIVISION,DESC,ENTRIES,EXITS,TURNSTILE,DATETIME,DIFF.ENTRIES,DIFF.EXITS,TRAFFIC
1,59 ST,NQR456W,BMT,REGULAR,7703739,2695803,A002 R051 02-00-00,04/23/2022 04:00:00,2.0,6.0,8.0
2,59 ST,NQR456W,BMT,REGULAR,7703749,2695831,A002 R051 02-00-00,04/23/2022 08:00:00,10.0,28.0,38.0
3,59 ST,NQR456W,BMT,REGULAR,7703774,2695912,A002 R051 02-00-00,04/23/2022 12:00:00,25.0,81.0,106.0
4,59 ST,NQR456W,BMT,REGULAR,7703824,2695965,A002 R051 02-00-00,04/23/2022 16:00:00,50.0,53.0,103.0
5,59 ST,NQR456W,BMT,REGULAR,7703881,2696011,A002 R051 02-00-00,04/23/2022 20:00:00,57.0,46.0,103.0

##### There are three problems regarding the values in "DIFF.ENTRIES","DIFF.EXITS,"TRAFFIC" columns.
    - positive too much values
    - negative values 
    - some zero values  
    
If a passanger passes a turstile in 5 second, 2880 passangers pass a turstile in 4-hours.

In [283]:
df[ (df['DIFF.ENTRIES'] < 0) | (df['DIFF.EXITS'] < 0)].head(5) # negative values

,STATION,LINENAME,DIVISION,DESC,ENTRIES,EXITS,TURNSTILE,DATETIME,DIFF.ENTRIES,DIFF.EXITS,TRAFFIC
252,59 ST,NQR456W,BMT,REGULAR,6820153,1589217,A002 R051 02-00-01,04/23/2022 00:00:00,-900428.0,-1122145.0,-2022573.0
504,59 ST,NQR456W,BMT,REGULAR,1498818,5729051,A002 R051 02-03-00,04/23/2022 00:00:00,-5336974.0,4131463.0,-1205511.0
756,59 ST,NQR456W,BMT,REGULAR,1764620,2822405,A002 R051 02-03-01,04/23/2022 00:00:00,256602.0,-2955145.0,-2698543.0
1008,59 ST,NQR456W,BMT,REGULAR,173191,260931,A002 R051 02-03-02,04/23/2022 00:00:00,-1612604.0,-2609394.0,-4221998.0
1512,59 ST,NQR456W,BMT,REGULAR,7682644,4003090,A002 R051 02-03-04,04/23/2022 00:00:00,1381644.0,-3186770.0,-1805126.0

In [297]:
df[ (df['DIFF.ENTRIES'] > 2880) | (df['DIFF.EXITS'] > 2880)].head(5)

,STATION,LINENAME,DIVISION,DESC,ENTRIES,EXITS,TURNSTILE,DATETIME,DIFF.ENTRIES,DIFF.EXITS,TRAFFIC
504,59 ST,NQR456W,BMT,REGULAR,1498818,5729051,A002 R051 02-03-00,04/23/2022 00:00:00,-5336974.0,4131463.0,-1205511.0
756,59 ST,NQR456W,BMT,REGULAR,1764620,2822405,A002 R051 02-03-01,04/23/2022 00:00:00,256602.0,-2955145.0,-2698543.0
1260,59 ST,NQR456W,BMT,REGULAR,6285945,7166690,A002 R051 02-03-03,04/23/2022 00:00:00,6094339.0,6872376.0,12966715.0
1512,59 ST,NQR456W,BMT,REGULAR,7682644,4003090,A002 R051 02-03-04,04/23/2022 00:00:00,1381644.0,-3186770.0,-1805126.0
1764,59 ST,NQR456W,BMT,REGULAR,12391982,1498825,A002 R051 02-03-05,04/23/2022 00:00:00,4694096.0,-2516857.0,2177239.0

In [296]:
print("How much row negative values:",df[ (df['DIFF.ENTRIES'] < 0) | (df['DIFF.EXITS'] < 0)].shape[0]) 
print("All row number:",df.shape[0])
print("Ratio(%):",df[ (df['DIFF.ENTRIES'] < 0) | (df['DIFF.EXITS'] < 0)].shape[0]/df.shape[0]*100)

How much row negative values: 18535
All row number: 1262199
Ratio(%): 1.4684689181341453

In [299]:
  # too much passangers 

print("How much row has too much values:",df[ (df['DIFF.ENTRIES'] > 2880) | (df['DIFF.EXITS'] > 2880)].shape[0]) #how much negative values
print("All row number:",df.shape[0])
print("Ratio(%):",df[ (df['DIFF.ENTRIES'] > 2880) | (df['DIFF.EXITS'] > 2880)].shape[0]/df.shape[0]*100)
print("***If a passanger passes a turstile in 5 second, in 4-hours max. 2880 passangers can pass a turstile.")

How much row has too much values: 2948
All row number: 1262199
Ratio(%): 0.23356063505041597
***If a passanger passes a turstile in 5 second, in 4-hours max. 2880 passangers can pass a turstile.

In [300]:
print("Number of turnstile:",df['TURNSTILE'].nunique())

Number of turnstile: 5047

In [301]:
df_4_hours_turnstile_means=df[ (df['DIFF.ENTRIES']>=0) & (df['DIFF.EXITS']>=0) & (df['DIFF.ENTRIES']<=2880) & (df['DIFF.EXITS']<=2880) ].groupby(by='TURNSTILE')['DIFF.ENTRIES','DIFF.EXITS','TRAFFIC'].mean()
df_4_hours_turnstile_means.reset_index(inplace=True)
df_4_hours_turnstile_means

C:\Users\mehmet\AppData\Local\Temp\ipykernel_2116\2029906138.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_4_hours_turnstile_means=df[ (df['DIFF.ENTRIES']>=0) & (df['DIFF.EXITS']>=0) & (df['DIFF.ENTRIES']<=2880) & (df['DIFF.EXITS']<=2880) ].groupby(by='TURNSTILE')['DIFF.ENTRIES','DIFF.EXITS','TRAFFIC'].mean()

                TURNSTILE  DIFF.ENTRIES  DIFF.EXITS     TRAFFIC
0      A002 R051 02-00-00     67.107570   62.011952  129.119522
1      A002 R051 02-00-01     62.306773   33.350598   95.657371
2      A002 R051 02-03-00     36.653386  193.223108  229.876494
3      A002 R051 02-03-01     84.362550  190.916335  275.278884
4      A002 R051 02-03-02     73.366534  133.000000  206.366534
...                   ...           ...         ...         ...
5006  TRAM2 R469 00-00-01    226.228000    4.492000  230.720000
5007  TRAM2 R469 00-03-00     36.720000    1.784000   38.504000
5008  TRAM2 R469 00-03-01     38.272000    3.008000   41.280000
5009  TRAM2 R469 00-05-00     13.252000    0.000000   13.252000
5010  TRAM2 R469 00-05-01      0.000000    1.056000    1.056000

[5011 rows x 4 columns]